.gl_pagination , .gl_pagination_number {
    display: inline-block;
    width: 100%;
    margin-top: 10px;
    padding-top: 30px;
    margin-bottom: 20px;
}

.gl_pagination a {
	float: right;
    font-size: 14px;
    color: #fff;
    padding: 8px 15px;
    border-radius: 3px;
}

.gl_pagination .nomore {
    display: block;
    text-align: center;
    color: #9a9ace;	
}

.gl_pagination .total_pages {
    float: left;
    font-size: 14px;
    color: #7c7cbd;	
}

.user-content li {
	list-style: none;
}

.user-content li:last-child {
	border-bottom: none;
}

.header-banner-box {
    position: relative;
}

#normal-cover {
    height: 350px;
    background-position: center;
    background-size: cover;
    width: 100%;
}

#content.site-user-content {
    float: none;
    margin: 0 auto;
    display: block;
	max-width: 960px;
	width: 100%;	
}

.header-user-info {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    margin: auto;
	bottom: 40px;
	max-width: 960px;
	width: 100%;
}

.header-user-info img {
	border-radius: 3px;
}

.header-user-meta  {
    float: left;
    margin-left: 20px;
}

.header-user-meta h1 {
    margin: 0;
    font-size: 24px;
    color: #fff;
    position: relative;
    top: 8px;
	text-transform: uppercase;
    font-weight: 400;
    line-height: 1;		
}

.header-user-meta p {
    margin: 0;
    margin-top: 12px;
    color: #c4caff;
    font-size: 15px;
    font-weight: 300;	
}

.header-user-meta small {
	color: #c4caff;
    margin-top: 15px;
    display: block;	
}

.header-user-meta i {
	margin-right: 5px;
    position: relative;
    top: 1px;
}

.form-group {
	position: relative;	
}

.avatar-editor {
	position: relative;
	height: 100px;
	float: left;
    cursor: pointer;	
}

.avatar-editor a {
	
}

.avatar-editor i {
	position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    text-align: center;
    font-size: 40px;
    z-index: 2;
    color: #fff;
    cursor: pointer;
	opacity: 0;
	transition: opacity .2s;	
}

.avatar-ed-box:before {
	content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #1e1d6fd9;
    top: 0;
    left: 0;
	cursor: pointer;
	opacity: 0;
	transition: opacity .2s;
	border-radius: 3px;
}

.avatar-editor:hover i {
	opacity: 1
}

.avatar-editor:hover .avatar-ed-box::before {
	opacity: 1
}

.avatar-editor input {
	position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    width: 100%;
    height: 100%;
	border: solid transparent;
    font-size: 0;
    cursor: pointer;
    z-index: 2;	
}

.profile-menu i {
	position: relative;
    top: 2px;
    margin-right: 3px;	
}

.edit-profile li {
	display: inline-block;
    float: right;
    margin-top: 15px;
	display: none
}

.edit-profile li a {
    color: #fff;
    padding: 5px 10px;
    border: 1px solid #b8bdff;
    border-radius: 3px;
    font-size: 14px;
    background: #3e2e9885;
}

.edit-profile i {
    font-size: 18px;
    position: relative;
    top: 1px;
    margin-right: 3px;	
}

.oneself-ed-avatar input , .oneself-ed-avatar i , .oneself-ed-avatar .avatar-ed-box:before {
	display: none;
}

.oneself-ed-avatar {
	cursor: auto
}

.user_left.profile-menu {
    width: 30%;
    float: left;	
}

.user_left {
	
}

.user_left ul {
    padding: 40px;	
	padding-right: 0;
}

.user_left ul li {
	 border-right: 3px solid #fff;
}


.user_left ul li.active {
	border-right: 3px solid #5143f3;
}

.user_left ul li span {
    padding: 1px 7px;
    font-size: 12px;
    background: #4234ff;
    color: #fff;
    margin-left: 5px;
    border-radius: 2px;
	position: relative;
    bottom: 2px;		
}

.user_left ul li small {
    transform: scale(.84);
    display: inline-block;
}

.user_left ul li a {
    width: 100%;
    display: inline-block;
    padding: 12px 0;
    color: #5654a0;
	transition: all 0.2s;		
}

.user_left ul li a:hover {
	color: #7d80e6;
		padding-left: 5px;
}

.user_left ul li i {
	color: #20185d;
    font-size: 20px;	
}

.user_left ul li .icon-duihua-o {
	color: #20185d;
}

.user-panel {
    padding: 40px;
    width: 70%;
    float: right;
    border-left: 1px solid #f8f7ff;
	min-height: 400px;
}

.dashboard-header p {
    margin: 0;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #fbfbff;
    color: #807fbb;
    font-size: 14px;
    position: relative;
    display: inline-block;
}

.dashboard-header .sub-title:before {
	content: "";
    width: 100%;
    height: 6px;
    position: absolute;
    /* background: #3745ff; */
    bottom: 0;
    left: 0;
    background: -webkit-gradient(linear,left top,right top,from(#bc51ff),to(#6275ff));
    background: -webkit-linear-gradient(90deg,#bc51ff,#6275ff);
    background: linear-gradient(90deg,#bc51ff,#6275ff);
    border-radius: 1px;
}

.dashboard-header .sub-title i {
	margin-right: 3px;
}

.dashboard-header i {
    font-size: 20px;
    top: 2px;	
}

.ed-prodile {
	
}

.ed-button {
	text-align: right;
    display: inline-block;
    width: 100%;
}

.ed-prodile button {
    padding: 12px 40px;
    color: #fff;
    border: none;
    font-size: 14px;
    cursor: pointer;
    outline: none;
}

input#dis_user_id , input#display_user_login {
    background: #fff;
}

#info-form .form-group , #pass-form .form-group , #email-form .form-group , #other-form .form-group {
	margin-bottom: 40px;
}

#info-form .form-group input , #pass-form .form-group input ,  #email-form .form-group input , #other-form .form-group input{
    width: 250px;
    outline: none;
    padding: 13px 16px;
    border: none;
    color: #4f5086;
    border-radius: 0;
    font-size: 14px;
    line-height: 1;
    border-bottom: 1px solid #e3dcff;
}

#info-form .form-group p {
    font-size: 12px;
    color: #ffb8b4;
    padding-left: 10px;
    margin: 0;
	position: relative;
    top: -8px;		
}

#info-form .form-group input:focus {
	border-color: #8256ff;
	transition: all .2s;
}

.avatar-choose {
    position: relative;
	display: inline-block;
    margin-right: 25px;	
}

.avatar-choose input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 0;
    opacity: 0;
	cursor: pointer;		
}

form#info-avatar label {
    float: left;
    margin-right: 40px;
    width: 100px;
    padding: 10px;
    font-size: 14px;
    position: relative;
}

form#info-avatar {
    margin-bottom: 50px;
}

.avatar-choose i {
    position: absolute;
    top: -8px;
    right: -8px;
    line-height: 1;
    padding: 3px;
    background: #37d669;
    color: #fff;
    border-radius: 50%;
    font-size: 12px;
	display: none;
}

.avatar-choose input:checked + i {
	display: block;
}

.avatar-choose img {
	border-radius: 3px;
}

a.unbind_weibo , a.unbind_qq {
    cursor: pointer;
    padding: 10px 35px;
    background: #393eff;
    color: #fff;
    border-radius: 3px;
	font-size:14px
}

a.unbind_weibo {
    background: #ff7453;
}
	
.bind_social {
	width: 100%;
    display: inline-block;
    margin-bottom: 20px;
    background: #f9f9ff;
    padding: 30px 20px;
}

.bind_social label {
	margin-bottom: 10px;
    display: inline-block;
}

.bind_social span {
    display: inline-block;
    margin-left: 15px;
}

.bind_social p {
    margin: 0;
    font-size: 14px;
    color: #7979b9;
    margin-bottom: 8px;
}

.bind_social img {
	width: 62px;
    border-radius: 3px;
    float: left;	
}

.bind_social a.btn {
	padding: 10px 15px;
    background: #2942ff;
    color: #fff;
    font-size: 14px;
    border-radius: 3px;
}

.bind_social_weibo a.btn {
    background: #ff7453;
}

#info-form .form-group .avatar-choose input {
	width: auto;
	position: absolute;
    right: 2px;
    top: 2px;	
}

#info-form label, #pass-form label , #other-form label{
	float: left;
	margin-right: 40px;
	width: 100px;
    padding: 10px;
    font-size: 14px;
	position: relative
}

#info-form select {
    width: 250px;
    padding: 6px 12px;
    -webkit-appearance: none;
    outline: none;
    background: #fafaff;
    border: 1px solid #e3dcff;
    color: #4f5086;	
}

.update_profile_btn {
    padding: 10px 40px;
    float: right;
    color: #fff;
    cursor: pointer;
}

.cube-inner .update_profile_btn {
	float: none;
	text-align: center;
}

#pass-form .form-group input, #email-form .form-group input {
	width: 100%;
}

.cube-inner {
	position: fixed;
    top: 50%;
	left: 50%;
	margin-left: -175px;
	margin-top: -180px;
    background: #fff;
    z-index: 998;
    border: 1px solid #f9f9ff;
    overflow: hidden;
    width: 350px;
	height: 360px;
    padding: 30px;
	text-align: center;
}

.email-cube .cube-inner {
	height: 300px;
}

.cube-inner .icon-close-o {
	position: absolute;
    right: 20px;
    top: 30px;
    color: #bcbcda;	
	cursor: pointer;
}

.cube-inner .update_profile_btn {
    padding: 8px 20px;
}

.cube-inner .update_profile_btn_close {
    padding: 8px 20px;
    float: right;
    color: #fff;
    cursor: pointer;
	margin-right: 10px;
    background: #c5bbef;	
}

.cube-inner h1 {
    margin: 0;
    font-size: 16px;
    text-align: left;
    font-weight: 400;
    margin-bottom: 15px;
    color: #7570af;
}

.cube-inner h1 i {
	margin-right: 5px;
}

.cube-inner p {
    font-size: 12px;
    text-align: left;
    color: #f1ab9b;	
}

#pass-form .form-group:last-child {
	margin-bottom: 0;
}

#pass-form .form-group input {
	width: 100%;
}

.safe-change-open {
	width: 48%;
    float: left;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    margin-right: 10px;
    background-image: linear-gradient( 90deg, #CE9FFC 10%, #7367F0 100%);
    cursor: pointer;
	font-size: 14px;
}

.safe-change-open i {
    display: block;
    font-size: 20px;
    line-height: 1;
	margin-bottom: 10px;
}

.change-email-open {
	background-image: linear-gradient( 90deg, #2AFADF 10%, #4C83FF 100%);
}

.login-panel-box .cd-signin {
	position: relative;
    display: inline-block;
    margin-top: 20px;
    cursor: pointer;
}

.login-panel-box .cd-signin img {
	border-radius: 3px;
	transition: all 0.2s;
}

.login-panel-box .cd-signin img:hover {
	box-shadow: 0 3px 8px -1px rgba(140, 160, 255, 0.36), 0 22px 20px -27px rgba(151, 168, 251, 0.19);
}

.login-panel {
	display: none
}

.login-panel li {
    padding: 6px 5px;
	position: relative;	
}

.login-panel li a {
	width: 100%;
    display: inline-block;
    font-size: 15px;
    color: #4a4d6d;
}

.login-panel li i {
	margin-right: 5px;
    display: inline-block;
}

.login-panel span {
	margin: 0;
    font-size: 15px;
    font-weight: 400;
	display: inline-block;
}

.login-panel li h2 {
    margin: 0;
    font-size: 15px;
    font-weight: 400;	
}

.login-panel li small {
    color: #8389b7;	
}

.login-panel li:first-child {
    border-bottom: 1px solid #eaefff;
    padding-bottom: 13px;
    margin-bottom: 8px;	
}

.login-panel li:last-child {
	border-top: 1px solid #eaefff;
    padding-top: 14px;
    margin-top: 8px;
}

.login-panel li:after {
	content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    background: #5764ff;
    right: 5px;
    top: 13px;
    border-radius: 100%;
	opacity: 0;
	transition: opacity .2s;
}

.login-panel li:hover::after {
	opacity: 1
}

.login-panel li a:hover {
	color: #623ecc
}

#header-tool {
    float: right;
    height: 80px;
    line-height: 80px;
    margin-right: 30px;	
}

#header-tool a {
	height: 80px;
}

#header-tool i {
	font-size: 28px;
    color: #504d77;
}

.header-message-box {
	
}

.header-message-box a {
	position: relative;
	cursor: pointer;
}

.header-message-box span {
    position: absolute;
    font-size: 12px;
    display: inline-block;
    top: -4px;
    line-height: 1;
    background: #ff2d2d;
    color: #fff;
    padding: 2px 6px 3px;
    border-radius: 3px;
    right: -6px;
    transform: scale(.84);
    font-family: microsoft yahei;	
}

.fast_notify_check {
	line-height: normal;
	padding: 15px 0;
}

.fast_notify_check .nodata {
	width: 100px;
	height: 100px;
}

.fast_notify_check .icon-xiaoxi {
    font-size: 16px !important;
    margin-right: 5px;
    color: #706ed6 !important;	
}

.fast_notify_check .head_name {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #f9f9ff;	
}

.fast_notify_check li {
    line-height: normal;
    font-size: 14px;
    color: #685bab;
    list-style: none;
    width: 100%;
    display: inline-block;
    background: #f9f9ff;
    border-radius: 3px;
	transition: all .2s;
}

.fast_notify_check li:hover {
    box-shadow: 0 3px 8px -1px rgba(140, 160, 255, 0.36), 0 22px 20px -27px rgba(151, 168, 251, 0.19);	
}

.notice_num_unread {
	margin-bottom: 15px;
}

.fast_notify_check .more_item {
    height: auto;
    display: block;
    line-height: normal;
    margin: 4px 0;
    color: #918fca;
    padding: 10px 15px;		
}

.msg_num_unread .left , .notice_num_unread .left{
    position: relative;
    background: none;
    float: left;
    left: 0;
    top: 0;
    padding: 0;
    border-radius: 50%;
    text-align: center;
}

.msg_num_unread .right , .notice_num_unread .right {
	margin-left: 50px;
}

.notice_num_unread .icon-youxiang {
	font-size: 30px;
    color: #7859ef;	
}

.msg_num_unread .icon-icon_fabu {
	font-size: 30px;
    color: #57ab55;	
}

.fast_notify_check p {
	margin: 0;
	margin-top: 3px;
}

.eaalert {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 300px;
    min-height: 150px;
    margin-top: -75px;
    margin-left: -150px;
    box-shadow: 0 0 8px rgba(106, 88, 255, 0.22);
    background: #ffffff;
	border-radius: 3px;
    z-index: 999;
}

.alert_title {
    padding: 15px 0;
    border-bottom: 1px solid #e6f1ff;
}

.alert_title h4 {
	margin: 0;
	display: inline-block;
	width: 100%;
	font-size: 14px;
	text-align: center;
	font-weight: 400;	
}

.alert_title h4 i {
	font-size: 20px;
    color: #1e38ff;
    top: 2px;
    margin-right: 3px;
}

.alert_content {
    font-size: 14px;
    text-align: center;
}

.alert_content p {
	margin: 25px 0;
    color: #6c67af;
}

.alert_cancel {
    text-align: center;
	margin-bottom: 25px;		
}

.alert_cancel button {
    background: #5245ff;
    border: honeydew;
    padding: 10px 20px;
    color: #fff;
	cursor: pointer;		
}

span.alert_close {
    position: absolute;
    top: 4px;
    right: 8px;
    cursor: pointer;
}

/*--------------------------------------------------------------
# MY CONMENTS
--------------------------------------------------------------*/

.user-comments .tip {
    font-size: 13px;
    color: #9a9bcc;	
	position: relative;
    margin-bottom: 20px;
	border-bottom: none;
}

.user-comments .tip:before {
    content: "";
    width: 6px;
    height: 6px;
    display: inline-block;
    background: #c1d0ff;
    border-radius: 50%;
    margin-right: 6px;
    position: relative;
    top: -1px;
}

.user-comments li {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #f6f9ff;		
}

.user-comments li:last-child {
	border-bottom: none;	
}

.user-comments li .message-content {
    display: inline;
    color: #59647d;
    border-radius: 3px;
    font-size: 14px;
    overflow: hidden;
    word-break: break-all;	
}

.user-comments li .message-content a.fancy-box {
	margin: 0;
}

.user-comments li a {
    display: block;
    margin-top: 8px;
	color: #c8ccec;
    font-size: 13px;		
}

.user-comments li a.fancy-box {
	color: #717abf;
    display: inline-block;
    margin: 0;
    margin-left: 10px;
}

.u_com_avatar {
    float: left;
    margin-right: 15px;
}

.u_com_avatar img {
	border-radius: 3px;
}

.gender_s .nice-select {
    width: 250px;
    display: inline-block;
    float: none;
    border: none;
    border-radius: 3px;
    border-bottom: 1px solid #e3dcff;		
}

.gender_s .nice-select .list {
	right: 0;
	border-radius: 0;
    box-shadow: 0 0 0 1px #816bff;	
}

.gender_s .nice-select .option:hover, .gender_s .nice-select .option.focus, .gender_s .nice-select .option.selected.focus {
	background: #c6c9fd;
}

textarea.single_des {
	outline: none;
    padding: 9px 16px;
    background: #fafaff;
    border: 1px solid #e3dcff;
    color: #4f5086;
    border-radius: 0;
    font-size: 14px;
	height: 120px;
	resize: none;
}

.user-index-box {
    display: inline-block;
    width: 100%;
    margin-top: 40px;
}

#user-index-info {
    width: 48%;
    float: left;
    padding: 20px;
    list-style: none;
    font-size: 14px;
    border: 1px solid #f4f4ff;
    border-radius: 5px;
    margin-right: 10px;
    min-height: 100px;
}

#user-index-info li {
	margin-bottom: 10px;
}

#cover-change {
    top: 150px;
    width: 534px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    margin-left: -270px;
    z-index: 666;
	display: none;
	-webkit-animation-duration: .3s;
    animation-duration: .3s; 
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both; 
}

#cover-c-header {
    font-size: 15px;
    font-weight: 400;
    padding: 20px 25px;
    border-bottom: 1px solid #ebe6ff;
}

a#cover-close {
    float: right;
    color: #5d6394;
}

a#cover-close i {
	font-size: 18px;
    bottom: 2px;
}

#cover-list {
    padding: 25px;
}

#cover-list li {
    float: left;
    width: 48%;
    margin: 0 4px;
    margin-bottom: 8px;
	position: relative;
}

#cover-list li a {
    display: block;
    line-height: 0;	
}

#cover-list li .selected:after {
	content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #5234aba3;
    top: 0;
    left: 0;
	border-radius: 3px;
}

#cover-list li .selected:before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: #5ac149;
    top: 8px;
    right: 8px;
    border-radius: 50%;
    z-index: 2;
}

#cover-list li img {
	border-radius: 3px;
}

#cover {
	position:relative
}
	
#cover img {
	width: 100%;
    object-fit: cover;
    height: 350px;
}

a#cover-sure {
    padding: 8px 25px;
    background: #452dff;
    color: #fff;
    border-radius: 3px;
    display: inline-block;
    font-size: 14px;
}

a#cover-cancle {
    padding: 8px 25px;
    background: #c7d0ff;
    color: #fff;
    border-radius: 3px;
    display: inline-block;
    font-size: 14px;
}

div#cover-c-footer {
    display: inline-block;
    text-align: center;
    margin-top: 15px;
    width: 100%;
    margin-bottom: 10px;
}

.cover-loading {
    display: inline-block;
    width: 100%;
    margin-top: 15px;
}

#custom-cover {
	position: absolute;
}

#custom-cover {
    position: absolute;
    right: 24px;
    top: 24px;
    padding: 0 24px;
    border: 1px solid #958cd8;
    font-size: 13px;
    border-radius: 3px;
    color: #9f97e0;
    display: inline-block;
    line-height: 35px;
    height: 35px;
}

#custom-cover i {
    font-size: 18px;
    top: -1px;
    margin-right: 5px;
    float: left;	
}

#custom-cover:hover {
    background: #8a7df324;
}

  

.user-panel #collect {
    margin-top: 30px;
    margin-bottom: 30px;
}

.collect_nav {
    width: 130px;
    margin: 0 auto;
    display: block;
    text-align: center;
    padding: 12px 0;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;	
}

article.archive.user {
    display: inline-block;
    width: 100%;
    margin-bottom: 40px;
}

.post-list-img {
    float: left;
    width: 120px;
    height: 120px;
	position: relative;
}
		 
.post-list-img a {
	width: 100%;
    height: 100%;
    display: block;
    border-radius: 5px;
    box-shadow: 0 3px 8px -1px rgba(140, 160, 255, 0.36), 0 22px 20px -20px rgba(140, 160, 255, 0.33);	
}

.post-list-img img {
	object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
		 
.post-list-content {
    margin-left: 140px;
}

.post-list-content h3 {
	display: inline;
    font-weight: 400;
}

.post-list-content a {
    font-size: 16px;
    color: #3d3c48;
}

.post-list-content p {
    font-size: 14px;
    color: #adacc5;
    margin: 5px 0 15px;	
}

.post-list-meta {
    display: inline-block;
    width: 100%;
}

.post-list-meta .sub {
	float: left;
    margin-right: 10px;
    font-size: 13px;
	color: #b8b8d6;
}

.post-list-meta .sub a {
	color: #b8b8d6;
    font-size: 13px;	
}

.postlist-meta-author {
    float: right;
}

.postlist-meta-author a {
    font-size: 12px;
	color: #9b9fd0;		
}

.postlist-meta-author img {
    border-radius: 3px;
    float: left;
    margin-right: 5px;	
}

.post-list-img a:hover .overlay {
	opacity: .5;
}

.post-list-img a:hover i{
	opacity: 1;
}

.post-list-img i {
	position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: #fff;
    font-size: 25px;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.2s;
}

.collect_btn {
    font-size: 14px;
}

.collect_btn a {
	color: #b4b9d4;
    line-height: normal;
    height: inherit;
	cursor: pointer;	
}

.collect_btn i {
	font-size: 18px !important;
    color: #ffb01b !important;
}

.header-user-info .fp-btns {
    float: right;
    margin-top: 10px;	
}

.header-user-info .fp-btns .follow-login {
	
}

.header-user-info .fp-btns .follow-btn , .pm-btn a {
    display: block;
    color: #fff;
    padding: 6px 30px;
    background: #396cff;
    margin-bottom: 8px;
    font-size: 14px;
    text-align: center;
    border-radius: 3px;
	cursor: pointer;
    background: linear-gradient(90deg,#5268ff,#975df5);	
}

.pm-btn a {
	margin-bottom: 0;
}

.follow-btn i , .pm-btn i {
    top: 1px;
    margin-right: 3px;	
}

ul.user_base_info {
	display: inline-block;
    margin-top: 20px;
}

.user_base_info li {
	float: left;
    font-size: 14px;
    padding: 0 10px;
    color: #c1c4fc;
    border-right: 1px solid #766f9e;
    line-height: 1;
    letter-spacing: .3px;		
}

.user_base_info li a {
	color: #c1c4fc;
}

.user_base_info li .num {
    margin-right: 2px;
    color: #e5e5ff;	
}

.user_base_info li:first-child {
	padding-left: 0;
}

.user_base_info li:last-child {
	border-right: none;
}

.flowlist {
	
}

.flowlist li {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;	
}

.flowlist li a {
	float: left;
}

.flow-box {
    margin-left: 95px;
}

.flowlist li img {
	border-radius: 5px;
}

.flow-box .left {
    float: left;
    margin-top: 5px;
}

.flow-box .right {
	float: right;
}

.flow-box .right a , .flow-box .right span {
	float: none;
    display: block;
    padding: 9px 14px;
    /* background: #9499de; */
    margin-bottom: 6px;
    color: #8988dc;
    font-size: 13px;
    text-align: center;
    border-radius: 3px;
    line-height: 1;
    border: 1px solid #c4ccf1;
	cursor: pointer;
}

.flow-box .right a i {
	margin-right: 3px;
}

.flowlist li span {
    display: block;	
}

.flowlist li .name {
    font-size: 18px;
    text-transform: uppercase;	
}

.flowlist li .name a {
	float: none;
    color: #3c3d69;	
}

.flowlist li .des{
	font-size: 13px;
    color: #a2a4c3;
}

.flowlist li .comments{
    font-size: 13px;
    color: #d3d5ec;
    margin-top: 5px;
}

.chat_list_avatar {
	float: left;
    line-height: 0;	
}

.chat_list_avatar img {
    border-radius: 3px;	
}

.msg_list {
    display: inline-block;
    width: 100%;
	padding: 20px;
	transition: all .2s;
	cursor: pointer;
	border-radius: 3px;
}

.msg_list:hover {
	background: #fafaff;
	box-shadow: 0 3px 8px -1px rgba(140, 160, 255, 0.36), 0 22px 20px -27px rgba(151, 168, 251, 0.19);
}

.msg_list .list-meta {
    margin-left: 90px;	
}

.msg_list .user-list.left {
	float: left;
}

.msg_list .user-list.left h2 {
    display: inline;
    font-size: 18px;
    text-transform: uppercase;
    color: #4d4c84;	
}

.msg_list .user-list.left p {
	margin: 0;
    font-size: 15px;
    color: #a19dd2;
    margin-top: 8px;
}

.msg_list .meta-info.right {
	float: right;
	font-size: 13px;
    color: #cdc5ec;
    margin-top: 5px;	
}

.msg_list .meta-info.right .unread-num-tips {
    display: block;
    text-align: right;
	margin-top: 10px;		
}

.msg_list .meta-info.right .unread-num-tips small {
    padding: 3px 5px;
    background: #ff5340;
    color: #fff;
    border-radius: 2px;	
}

.chat-list {
	list-style: none;
    display: inline-block;
    width: 100%;
    margin-bottom: 30px;	
}

.my-chat-list {
	text-align: right;
}

.chat-list img {
	border-radius: 3px;
	float: left;
}

.chat-list span {
    display: inline-block;
    padding: 8px 18px;
    background: #dbe7ff;
    margin-left: 20px;
    margin-top: 5px;
	border-radius: 3px;
	position: relative;
    color: #40498e;	
}

.chat-list time {
    display: block;
    margin-top: 10px;
    font-size: 12px;
    color: #c7c2e8;	
}

.my-chat-list img {
	float: right;
}

.my-chat-list span {
	margin-right: 20px;
    background: #9ea5ff;
    max-width: 60%;
    word-wrap: break-word;		
}

.my-chat-list time {
	
}

.get-chat-list span:before {
	content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-right: 8px solid #dbe7ff;
    border-bottom: 8px solid transparent;
    left: -7px;
    top: 50%;
    margin-top: -8px;
}

.my-chat-list span:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-left: 8px solid #9ea5ff;
    border-bottom: 8px solid transparent;
    right: -7px;
    top: 19px;
    margin-top: -8px;
}

.chat-list-box {
    position: fixed;
    width: 350px;
    right: 20px;
    bottom: 20px;
    margin: auto;
    height: 550px;
    z-index: 99998;
    background: #fff;
    border-radius: 5px;
}

.chat-list-content {
    padding: 20px 30px;
    height: 340px;
    overflow: scroll;
    overflow-y: auto;
}

.chat-banner {
    background: linear-gradient(90deg,#bc51ff,#6275ff);
    padding: 15px 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;	
}

.chat-user-banner-info {
    display: inline-block;
    margin-left: 15px;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
}

.user-banner-avatar {
    float: left;
    margin-right: 10px;
    line-height: 0;
}

.user-banner-avatar img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.chat-banner i {
    float: right;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    margin-right: 5px;		
}

.chat-loading {
    margin-top: 20px;
}

.push-msg-content {
    height: 130px;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #fafaff;	
}

textarea.chat-push-textarea {
    height: 50px;
    padding: 8px;
    width: 92%;
    border: none;
    background: #f7f3ff;
    outline: none;
    position: absolute;
    bottom: 60px;
    left: 4%;
	resize: none;
    line-height: 1;
	border: 1px solid #f7f3ff;	
}

textarea.chat-push-textarea:focus {
	border: 1px solid #c9c3ff;
}

.send-msg-btn {
    position: absolute;
    right: 5%;
    bottom: 18px;
    font-size: 14px;
    padding: 8px 20px;
    line-height: 1;
    background: #6771fe;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}

.chat-fn-push {
    position: absolute;
    bottom: 18px;
    left: 5%;
}

.chat-fn-push span {
	padding: 8px;
    color: #9991ff;
    border-radius: 3px;
    margin-right: 5px;
    line-height: 1;
    display: inline-block;
	cursor: pointer;
}

.chat-fn-push span i {
	font-size: 20px;
}

.user_left .user_show_inner {
    padding: 20px 30px;	
}

.user_left .user_show_inner .item {
    font-size: 15px;
    padding: 10px 0;
}

.user_left .user_show_inner .item small {
    float: right;
    padding-top: 6px;
    cursor: pointer;
    color: #ac98f7;
}

.user_left .user_show_inner .more {
	display: none;
}

.user_left .user_show_inner .item i {
    color: #6155ff;
    font-size: 18px;	
}

.user_left .user_show_inner li {
    padding: 15px 0;
    border-bottom: 1px solid #f9f9ff;	
}

.user_left .user_show_left .name {
    font-size: 14px;
    display: inline-block;
    width: 70px;
    margin-right: 10px;	
}

.user_show_left .info {
	display: inline-block;
	color: #7f73b7;
    font-size: 14px;	
}

.user_show_left .info .icon-nan {
    color: #5e66fd;
    font-size: 18px;	
}

.user_show_left .info .icon-nv {
    color: #f57271;
    font-size: 18px;	
}

.user_left .user_show_fans li {
	display: inline-block;
    border: none;
    margin-right: 15px;	
}

.user_left .user_show_fans li a {
	width: 42px;
    line-height: 1;
    margin: 10px 0;
    padding: 0;
}

.user_left .user_show_fans li a:hover {
	padding: 0;
}

.user_left .user_show_fans li img {
	border-radius: 3px;
}

ul.user_show_fans {
    padding-top: 20px;
    padding-left: 30px;
	padding-right: 30px;
}

.user_show_fans .item {
    font-size: 14px;
    margin-bottom: 20px;		
}

.user_show_fans .item i {
	font-size: 16px;
    top: 1px;
    color: #ff816c;	
}

/*--------------------------------------------------------------
## notice
--------------------------------------------------------------*/
.notice_mod_tips {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #f9f9ff;
	position: relative;
}

.notice_mod_tips_box , .notice_clear_all {
    font-size: 14px;
    position: relative;
    margin-bottom: 10px;
	color: #54568a;
    display: inline-block;
    cursor: pointer;
    margin-right: 15px;		
}

.notice_clear_all {
	
}	

.notice_mod_tips .icon-guanzhu2 {
	font-size: 20px;
    color: #8c88bb;
    top: 2px;
    margin-right: 5px;
}

.notice_clear_all .icon-yiduxinxi {
	font-size: 18px;
	color: #8c88bb;
	top: 1px;
	margin-right: 5px;	
}

.notice_mod_tips .tips_content {
    font-size: 12px;
    color: #9c93cc;	
}

.notice_mod_tips_inner {

}

.notice_mod_tips_inner li {
	font-size: 14px;
    color: #65658c;
    padding: 10px;
}

.notice_mod_tips_inner li span {
	width: 8px;
    height: 8px;
    background: #4234ff;
    display: block;
    float: left;
    border-radius: 50%;
    position: relative;
    top: 5px;
    margin-right: 5px;	
}

.notice_mod_tips_inner .system_dot span {
    background: #ffcb52;	
}

.notice_mod_tips_inner .follow_dot span {
    background: #60cc77;	
}

.notice_mod_tips_inner .normal_dot span {
	background: #ff7534;
}

.notice_inner {
    display: inline-block;
    width: 100%;
}

.notice_item {
	
}

li.notice_item {
    margin-bottom: 30px;
    border-bottom: 1px solid #fcfcff;
    background: #f9f9ff;
    padding: 20px;
    border-radius: 5px;
	position: relative;
	overflow: hidden;
	transition: all .2s;
	cursor: pointer;
}

li.notice_item:hover {
	box-shadow: 0 3px 8px -1px rgba(140, 160, 255, 0.36), 0 22px 20px -27px rgba(151, 168, 251, 0.19);
}

.notice_item:before {
	content: "";
    position: absolute;
    transform: rotate(-45deg);
    left: -4px;
    top: 0;
}

.topic_reply.notice_item:before {
	border-right: 8px solid transparent;
	border-left: 8px solid transparent;
	border-bottom: 8px solid #4234ff;
}

.normal_reply.notice_item:before {
	border-right: 8px solid transparent;
	border-left: 8px solid transparent;
	border-bottom: 8px solid #ff7534;
}

.follow_notice.notice_item:before {
	border-right: 8px solid transparent;
	border-left: 8px solid transparent;
	border-bottom: 8px solid #60cc77;
}

.system_notice.notice_item:before {
	border-right: 8px solid transparent;
	border-left: 8px solid transparent;
	border-bottom: 8px solid #ffcb52;
}

.notice_item .ava {
	float: left;
}

.notice_item .ava a {
	
}

.notice_item .from i {
	color: #d0d1ec;
    top: 2px;
    margin-right: 8px;
}

.notice_item .ava img {
	border-radius: 3px;
	width: 42px;
	height: 42px;
}

.notice_item .notice_right {
	margin-left: 60px;
}

.notice_item .notice_right .meta {
    font-size: 12px;
    color: #b6b2d6;
}

.notice_item .notice_right .meta a {
	color: #464280;
	font-size: 14px;
	margin-right: 5px;
}

.notice_item .notice_right .meta small {
	margin-left: 15px;
}

.notice_item .notice_right .from {
    float: right;
    color: #6150b7;
    font-size: 12px;
    border-radius: 20px;
    text-transform: uppercase;
    margin-right: 5px;		
}

.notice_item .notice_right .from a {
	color: #6150b7;
    margin-right: 0;	
}

.notice_item .notice_right .content {
    font-size: 13px;
    color: #6a6aaf;
    margin-top: 5px;
    border-radius: 5px;
}

.notice_item .notice_right .content a {
    height: 140px;
    width: 100%;
    display: block;
    margin-top: 10px;
}

.notice_item .notice_right .content img {
	object-fit: cover;
}

.notice_item .inner_un_dot {
	width: 7px;
    height: 7px;
    background: #ff2d2d;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    top: 4px;
    right: 4px;
}

/*--------------------------------------------------------------
## active
--------------------------------------------------------------*/
.active_menu {
    line-height: 1;
    margin-bottom: 40px;
    width: 100%;	
}
	
.active_menu ul {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #f9f9ff;		
}
	
.active_menu ul li {
	float: left;
}

.active_menu ul li.active{
	border-bottom: 2px solid #4234ff;
}
	
.active_menu ul li a {
	color: #5a619e;
    font-size: 15px;
    padding: 10px 20px;
    display: inline-block;	
}	

.active_inner {
	
}

.active_mod_tips .active_content {
	font-size: 13px;
    color: #8a81b7;
    margin-bottom: 20px;
    margin-top: -20px;	
}

.active_item {
    margin-bottom: 50px;
    padding-bottom: 30px;
    border-bottom: 1px solid #f9f9ff;
    display: inline-block;
    width: 100%;		
}

.active_item .meta {
    line-height: 1;
	margin-top: 3px;		
}

.active_item .meta .from {
    float: right;	
}

.active_item .meta .from i {
    top: 1px;
    margin-right: 5px;	
}

.active_item .meta .from a {
	color: #9292d8;
}

.active_item .meta a {
	color: #9292d8;
}

.active_right .content {
    margin-top: 5px;
    font-size: 13px;
    color: #8f8fc1;	
}

.active_type {
	float: left;
	width: 42px;
	height: 42px;
	text-align: center;
	line-height: 42px;
	border-radius: 3px;	
}

.topic_reply_active .active_type {
    background: #5a66fd; 
}

.normal_reply_active .active_type {
    background: #ffc049; 
}

.follow_active .active_type {
    background: #ff886c; 
}

.active_type i {
     color: #fff;
    font-size: 22px;   
}

.active_right {
    margin-left: 60px;
    font-size: 14px;
    color: #333048;
}

/*--------------------------------------------------------------
## active topics
--------------------------------------------------------------*/
.active_topics_inner {
    padding: 30px 40px;
    padding-top: 0;	
}

.active_topics_inner .entry-footer {
    margin: 0;
    margin-top: 40px;	
}

.active_topics_inner .loop_meta {
	position: relative;
}

.active_topics_inner .loop_meta a {
    color: #5151b9;	
}

.active_topics_inner .loop_meta .tipic_cat {
    font-size: 13px;
    color: #6159d0;
    background: #f9f9ff;
    border-radius: 5px;
    margin-bottom: 10px;
    display: inline-block;
    border: 1px solid #efefff;	
}

.active_topics_inner .loop_meta .tipic_cat a {
	padding: 5px 15px 4px;
	display: inline-block;
}

.active_topics_inner .loop_content {
    font-size: 13px;
    color: #464675;	
}

.active_topics_inner .loop_content p {
    line-height: 25px;	
}

a.go_single {
    position: absolute;
    right: 0;
    top: 2px;
    line-height: 1;	
}

a.go_single i {
    color: #b4b4f3;
    font-size: 25px;	
}

.topic_push_active .active_topic_type {
	position: absolute;
    left: -50px;
    top: -5px;
    font-size: 25px;
    color: #aeb0e4;
}

/*--------------------------------------------------------------
## active posts
--------------------------------------------------------------*/
.post_push_active {
    padding: 0;	
}

.post_push_active .feature_img {
    width: 200px;
    height: 140px;
	float: left;
}

.post_push_active .active_posts_right {
    margin-left: 220px;
    min-height: 130px;		
}

.post_push_active .loop_meta {
	margin-top: 10px;
}

.post_push_active .loop_content p {
	font-size: 14px;
	color: #8989ab;
}

.post_push_active .entry-footer {
    margin-left: 0;	
	margin-top: 10px;
	margin-bottom: 15px;
}

.post_push_active .entry-footer .loop_meta {
	width: 100%;
	margin-top: 0;
}

.post_push_active #post_tourist {
	top: 0;	
}

.post_push_active #post_tourist img {
	width: 24px;
}

a.qq_login_btn {
	padding: 9px 30px 6px;
	background: linear-gradient(90deg,#5642ff,#6ac8ff);
	border-radius: 3px;	
    margin-right: 2px;	
}

a.qq_login_btn i {
	color: #fff;
	font-size: 18px;
}

a.weibo_login_btn {
    padding: 9px 30px 6px;
    background: linear-gradient(90deg,#ff5d2c,#fd954b);
    border-radius: 3px;	
    margin-left: 2px;	
}

a.weibo_login_btn i {
	color: #fff;
    font-size: 18px;
}

.social_login {
	text-align: center;
}